[general]
name=helium-validator-monitor0
bucket=helium-validator-monitor

[influx2]
url=http://influxdb:8086/
org=helium
token=Long-Secret-Token

[validator]
host=127.0.0.1

[ledger]
address=123a,123b
validators=123x,123y
